body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse
{
    background-color:#ffffff;
    border-color:#ffffff;
}
.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 1px;
    width: auto;
}

.navbar-headerPRAGreen {
    background-color: #006648;
    color: #ffffff;
}
.navbar-extend{
    margin-left:-100%;
    margin-right:-100%;
}
.navebar-link > a,
.navebar-link > a:hover,
.navebar-link > a:focus {
    color: #ffffff;
    text-decoration: none;
    font-size:x-small;
    font-weight:bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.0;
    border-radius: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-success {
    color: #ffffff;
    background-color: #0076BB;
    border-color:#ffffff;
    border-width:2px;
}

    .btn-success:focus,
    .btn-success.focus {
        color: #ffffff;
        background-color: #006648;
        border-color: rgba(0, 0, 0, 0);
    }

    .btn-success:hover {
        color: #ffffff;
        background-color: #006648;
        border-color: rgba(0, 0, 0, 0);
    }
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #000000;
}

a {
    color: #0076BB;
    text-decoration: none;
}
a:hover, a:focus {
    color: #00B3E3;
    text-decoration: none;
}

.largeboldblueunderline {
    font-family: Calibri;
    font-size: large;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.mediumblueitalic {
    font-family: Calibri;
    font-size: medium;
    color: blue;
    font-style: italic;
}

.mediumboldblueunderline {
    font-family: Calibri;
    font-size: medium;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.mediumboldblue {
    font-family: Calibri;
    font-size: medium;
    color: blue;
    font-weight: bold;
}

.largeboldredunderline {
    font-family: Calibri;
    font-size: large;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.mediumboldreditalic {
    font-family: Calibri;
    font-size: medium;
    color: red;
    font-weight: bold;
    font-style: italic;
}

.mediumboldreditalicunderline {
    font-family: Calibri;
    font-size: medium;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.mediumboldblueitalic {
    font-family: Calibri;
    font-size: medium;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.mediumboldblueitalicunderline {
    font-family: Calibri;
    font-size: medium;
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.mediumboldblackunderline {
    font-family: Calibri;
    font-size: medium;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.table-bordered {
    border: 1px solid black;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid black;
    }

.cellCenterGreen {
    text-align: center;
    background-color: #A9DFBF;
}

.mediumblackitalic {
    font-family: Calibri;
    font-size: medium;
    color: black;
    font-style: italic;
}

.cellValignTop {
    vertical-align: top;
}

.smallblackBold {
    font-family: Calibri;
    font-size: small;
    color: black;
    font-weight: bold;
}

.smallblack {
    font-family: Calibri;
    font-size: small;
    color: black;
}

.smallblackBoldItalic {
    font-family: Calibri;
    font-size: small;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.bluehighlight {
    background-color: cornflowerblue;
}

.smallblackboldunderline {
    font-family: Calibri;
    font-size: small;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.largeblack {
    font-family: Calibri;
    font-size: large;
    color: black;
}

.largeboldblue {
    font-family: Calibri;
    font-size: large;
    color: blue;
    font-weight: bold;
}
