<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EmailApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--
    <add name="DefaultConnection" connectionString="Data Source=10.130.8.17;Initial Catalog=PRAWAITLIST;Integrated Security=False;user id=WaitList;password=P@nthers!;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="PRAWaitlistConnection" connectionString="Data Source=10.130.8.17;Initial Catalog=PRAWAITLIST;Integrated Security=False;user id=WaitList;password=P@nthers!;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
-->
    <add name="DefaultConnection" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=PRAWAITLIST;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="PRAWaitlistConnection" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=PRAWAITLIST;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <userSettings>
    <EmailApplication.Properties.Settings>
      <setting name="PRAWAITLISTConnectionString" serializeAs="String">
        <value>Data Source=localhost\sqlexpress;Initial Catalog=PRAWAITLIST;Integrated Security=true;MultipleActiveResultSets=true</value>
      </setting>
    </EmailApplication.Properties.Settings>
  </userSettings>
</configuration>
