<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="PRAWaitlistConnection" connectionString="Data Source=PRA-DATABASES\PROCARE;Initial Catalog=PRAWAITLIST;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
      <add name="EmailApplication.Properties.Settings.PRAWAITLISTConnectionString" connectionString="Data Source=PRA-DATABASES\PROCARE;Initial Catalog=PRAWAITLIST;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
